
/* Your CSS Code here. */
    table {
          border-collapse: collapse;
          width: 600px;
    }
    th, td {
      border: 1px solid #000;
      padding: 10px;
      text-align: center;
    }
    thead {
      background-color: #b94242;
      color: white;
    }
    tbody tr:nth-child(even) {
      background-color: #f3c6c6;
    }
    tbody tr:nth-child(odd) {
      background-color: #eab5b5;
	}
